.button {
  background: map-get($colors, 'yellow');
  color: map-get($colors, 'main');
  border-radius: 0.3rem;
  cursor: pointer;

  &--loading {
    background-image: url('~/loading.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: darken(map-get($colors, 'yellow'), 5%);
    color: transparent;
  }

  &:active,
  &:hover {
    background-color: darken(map-get($colors, 'yellow'), 5%);
  }
}
