.l-block {
  & + & {
    margin-top: 2rem;
  }
}

.l-line {
  & + & {
    margin-top: 0.5rem;
  }
}

.l-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  &--vertical {
    flex-direction: column;
  }
}

@include media('>=desktop') {
  .l-wrapper {
    max-width: 900px;
    margin: 0 auto;
  }
}
